In [1]:
import pandas as pd

In [2]:
filepath2020 = "JC-202005-citibike-tripdata.csv"

filepath2021 = "JC-202105-citibike-tripdata.csv"

df_2020 = pd.read_csv(filepath2020)
df_2021 = pd.read_csv(filepath2021)

In [3]:
df_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [4]:
df_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [6]:
df_2020.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
df_2021.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
cleandf_2020 = df_2020.drop(columns=["birth year", "gender"])

In [12]:
cleandf_2020.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype'],
      dtype='object')

In [6]:
cleandf_2020.rename(columns={"starttime": "started_at", "stoptime":"ended_at", "start station id":"start_station_id", "start station name": "start_station_name", "start station latitude":"start_lat", "start station longitude":"start_lng", "end station latitude":"end_lat", "end station longitude":"end_lng", "end station name":"end_station_name", "end station id":"end_station_id"}, inplace=True)

In [15]:
cleandf_2020.dtypes

tripduration            int64
started_at             object
ended_at               object
start_station_id        int64
start_station_name     object
start_lat             float64
start_lng             float64
end_station_id          int64
end_station_name       object
end_lat               float64
end_lng               float64
bikeid                  int64
usertype               object
dtype: object

In [11]:
df_2021.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [7]:
cleandf_2020.head()

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber

In [8]:
cleandf_2020["start_date"] = pd.to_datetime(cleandf_2020['started_at']).dt.date
cleandf_2020["start_time"] = pd.to_datetime(cleandf_2020['started_at']).dt.time

cleandf_2020["end_date"] = pd.to_datetime(cleandf_2020['ended_at']).dt.date
cleandf_2020["end_time"] = pd.to_datetime(cleandf_2020['ended_at']).dt.time

In [9]:
cleandf_2020

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,start_date,start_time,end_date,end_time
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,2020-05-01,00:09:45.586000,2020-05-01,00:15:35.293000
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,2020-05-01,01:11:22.528000,2020-05-01,01:13:41.246000
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,2020-05-01,05:31:29.535000,2020-05-01,05:35:19.240000
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,2020-05-01,05:51:39.396000,2020-05-01,05:56:00.937000
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,2020-05-01,06:06:31.951000,2020-05-01,06:09:20.141000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,2020-05-31,23:35:50.946000,2020-05-31,23:42:26.530000
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,2020-05-31,23:38:30.824000,2020-06-01,00:06:32.036000
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,2020-05-31,23:39:07.268000,2020-06-01,00:06:44.574000
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,2020-05-31,23:45:28.329000,2020-05-31,23:52:28.368000
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,2020-05-31,23:50:55.839000,2020-05-31,23:52:23.092000

In [20]:
df_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [10]:
df_2021["start_date"] = pd.to_datetime(df_2021['started_at']).dt.date
df_2021["start_time"] = pd.to_datetime(df_2021['started_at']).dt.time

df_2021["end_date"] = pd.to_datetime(df_2021['ended_at']).dt.date
df_2021["end_time"] = pd.to_datetime(df_2021['ended_at']).dt.time

df_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-23,16:51:00,2021-05-23,18:38:21
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member,2021-05-31,16:54:47,2021-05-31,16:55:28
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-25,16:19:34,2021-05-25,17:03:06
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual,2021-05-22,17:32:19,2021-05-22,17:41:27
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual,2021-05-14,09:48:34,2021-05-14,10:17:36

In [11]:
df_2021["year"] = 2021

In [23]:
df_2021

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,year
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-23,16:51:00,2021-05-23,18:38:21,2021
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member,2021-05-31,16:54:47,2021-05-31,16:55:28,2021
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-25,16:19:34,2021-05-25,17:03:06,2021
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual,2021-05-22,17:32:19,2021-05-22,17:41:27,2021
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual,2021-05-14,09:48:34,2021-05-14,10:17:36,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45038,62FF3FEDAAD7FCB3,docked_bike,2021-05-31 12:46:22,2021-05-31 12:52:29,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,casual,2021-05-31,12:46:22,2021-05-31,12:52:29,2021
45039,E742AEA7068E0E4A,docked_bike,2021-05-31 16:34:19,2021-05-31 16:59:21,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual,2021-05-31,16:34:19,2021-05-31,16:59:21,2021
45040,E769F9EE96D6433A,docked_bike,2021-05-17 22:52:35,2021-05-17 23:13:37,Astor Place,JC077,Astor Place,JC077,40.719282,-74.071261,40.719282,-74.071262,casual,2021-05-17,22:52:35,2021-05-17,23:13:37,2021
45041,EC973614DCA179A2,docked_bike,2021-05-31 20:48:58,2021-05-31 21:16:02,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual,2021-05-31,20:48:58,2021-05-31,21:16:02,2021
45042,3571180FE5C52CB1,docked_bike,2021-05-23 14:28:43,2021-05-23 14:30:59,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual,2021-05-23,14:28:43,2021-05-23,14:30:59,2021

In [12]:
cleandf_2020["year"] = 2020

In [25]:
cleandf_2020.head()

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,start_date,start_time,end_date,end_time,year
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,2020-05-01,00:09:45.586000,2020-05-01,00:15:35.293000,2020
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,2020-05-01,01:11:22.528000,2020-05-01,01:13:41.246000,2020
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,2020-05-01,05:31:29.535000,2020-05-01,05:35:19.240000,2020
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,2020-05-01,05:51:39.396000,2020-05-01,05:56:00.937000,2020
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,2020-05-01,06:06:31.951000,2020-05-01,06:09:20.141000,2020

In [26]:
cleandf_2020.columns

Index(['tripduration', 'started_at', 'ended_at', 'start_station_id',
       'start_station_name', 'start_lat', 'start_lng', 'end_station_id',
       'end_station_name', 'end_lat', 'end_lng', 'bikeid', 'usertype',
       'start_date', 'start_time', 'end_date', 'end_time', 'year'],
      dtype='object')

In [27]:
df_2021.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'start_date', 'start_time', 'end_date', 'end_time',
       'year'],
      dtype='object')

In [13]:
test_df = df_2021
test_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,year
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-23,16:51:00,2021-05-23,18:38:21,2021
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member,2021-05-31,16:54:47,2021-05-31,16:55:28,2021
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-25,16:19:34,2021-05-25,17:03:06,2021
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual,2021-05-22,17:32:19,2021-05-22,17:41:27,2021
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual,2021-05-14,09:48:34,2021-05-14,10:17:36,2021

In [14]:
test_df[["started_at", "ended_at"]] = test_df[["started_at", "ended_at"]].apply(pd.to_datetime)

In [15]:
# t1 = pd.to_datetime(test_df["started_at"])
# t2 = pd.to_datetime(test_df["ended_at"])

# test_df["tripduration"] = pd.Timedelta(t2 - t1).seconds/60.0

test_df['tripduration'] = (test_df.ended_at - test_df.started_at)

In [41]:
test_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,year,tripduration
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-23,16:51:00,2021-05-23,18:38:21,2021,0 days 01:47:21
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member,2021-05-31,16:54:47,2021-05-31,16:55:28,2021,0 days 00:00:41
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual,2021-05-25,16:19:34,2021-05-25,17:03:06,2021,0 days 00:43:32
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual,2021-05-22,17:32:19,2021-05-22,17:41:27,2021,0 days 00:09:08
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual,2021-05-14,09:48:34,2021-05-14,10:17:36,2021,0 days 00:29:02

In [16]:
cleandf_2020[["started_at", "ended_at"]] = cleandf_2020[["started_at", "ended_at"]].apply(pd.to_datetime)
cleandf_2020['tripduration_1'] = (cleandf_2020.ended_at - cleandf_2020.started_at)

In [17]:
cleandf_2020.columns

Index(['tripduration', 'started_at', 'ended_at', 'start_station_id',
       'start_station_name', 'start_lat', 'start_lng', 'end_station_id',
       'end_station_name', 'end_lat', 'end_lng', 'bikeid', 'usertype',
       'start_date', 'start_time', 'end_date', 'end_time', 'year',
       'tripduration_1'],
      dtype='object')

In [18]:
cleandf_2020.rename({"tripduration": "tripduration(secs)", "tripduration_1": "tripduration"}, inplace=True)

In [19]:
cleandf_2020

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,start_date,start_time,end_date,end_time,year,tripduration_1
0,349,2020-05-01 00:09:45.586,2020-05-01 00:15:35.293,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,2020-05-01,00:09:45.586000,2020-05-01,00:15:35.293000,2020,0 days 00:05:49.707000
1,138,2020-05-01 01:11:22.528,2020-05-01 01:13:41.246,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,2020-05-01,01:11:22.528000,2020-05-01,01:13:41.246000,2020,0 days 00:02:18.718000
2,229,2020-05-01 05:31:29.535,2020-05-01 05:35:19.240,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,2020-05-01,05:31:29.535000,2020-05-01,05:35:19.240000,2020,0 days 00:03:49.705000
3,261,2020-05-01 05:51:39.396,2020-05-01 05:56:00.937,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,2020-05-01,05:51:39.396000,2020-05-01,05:56:00.937000,2020,0 days 00:04:21.541000
4,168,2020-05-01 06:06:31.951,2020-05-01 06:09:20.141,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,2020-05-01,06:06:31.951000,2020-05-01,06:09:20.141000,2020,0 days 00:02:48.190000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.946,2020-05-31 23:42:26.530,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,2020-05-31,23:35:50.946000,2020-05-31,23:42:26.530000,2020,0 days 00:06:35.584000
25073,1681,2020-05-31 23:38:30.824,2020-06-01 00:06:32.036,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,2020-05-31,23:38:30.824000,2020-06-01,00:06:32.036000,2020,0 days 00:28:01.212000
25074,1657,2020-05-31 23:39:07.268,2020-06-01 00:06:44.574,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,2020-05-31,23:39:07.268000,2020-06-01,00:06:44.574000,2020,0 days 00:27:37.306000
25075,420,2020-05-31 23:45:28.329,2020-05-31 23:52:28.368,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,2020-05-31,23:45:28.329000,2020-05-31,23:52:28.368000,2020,0 days 00:07:00.039000
25076,87,2020-05-31 23:50:55.839,2020-05-31 23:52:23.092,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,2020-05-31,23:50:55.839000,2020-05-31,23:52:23.092000,2020,0 days 00:01:27.253000

In [20]:
cleandf_2020.columns

Index(['tripduration', 'started_at', 'ended_at', 'start_station_id',
       'start_station_name', 'start_lat', 'start_lng', 'end_station_id',
       'end_station_name', 'end_lat', 'end_lng', 'bikeid', 'usertype',
       'start_date', 'start_time', 'end_date', 'end_time', 'year',
       'tripduration_1'],
      dtype='object')

In [21]:
df_2020_ids = cleandf_2020.reset_index()

In [23]:
df_2020_ids.rename(columns={"index": "ride_id", "tripduration":"tripduration(secs)", "tripduration_1": "tripduration"}, inplace=True)

In [22]:
df_2021.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'start_date', 'start_time', 'end_date', 'end_time',
       'year', 'tripduration'],
      dtype='object')

In [25]:
df_2020_ids.columns

Index(['ride_id', 'tripduration(secs)', 'started_at', 'ended_at',
       'start_station_id', 'start_station_name', 'start_lat', 'start_lng',
       'end_station_id', 'end_station_name', 'end_lat', 'end_lng', 'bikeid',
       'usertype', 'start_date', 'start_time', 'end_date', 'end_time', 'year',
       'tripduration'],
      dtype='object')

In [26]:
clean_df_2021 = df_2021[["ride_id", "start_station_id", "start_station_name", "start_lat", "start_lng", "end_station_id", "end_station_name", "end_lat", "end_lng", "started_at", "ended_at", "start_date", "start_time", "end_date", "end_time", "tripduration", "year"]]

clean_df_2021

,ride_id,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,started_at,ended_at,start_date,start_time,end_date,end_time,tripduration,year
0,74A4206E7487CBC9,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038411,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,2021-05-23 16:51:00,2021-05-23 18:38:21,2021-05-23,16:51:00,2021-05-23,18:38:21,0 days 01:47:21,2021
1,58EEE2950FFE01CE,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038411,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,2021-05-31 16:54:47,2021-05-31 16:55:28,2021-05-31,16:54:47,2021-05-31,16:55:28,0 days 00:00:41,2021
2,1429D912C16EEE59,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038411,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038412,2021-05-25 16:19:34,2021-05-25 17:03:06,2021-05-25,16:19:34,2021-05-25,17:03:06,0 days 00:43:32,2021
3,FE9C5B74167CBCCD,HB305,9 St HBLR - Jackson St & 8 St,40.747907,-74.038411,HB405,Grand St & 2 St,40.739130,-74.036180,2021-05-22 17:32:19,2021-05-22 17:41:27,2021-05-22,17:32:19,2021-05-22,17:41:27,0 days 00:09:08,2021
4,B88D37626F000BBA,JC051,Union St,40.718211,-74.083639,JC032,Newark Ave,40.721525,-74.046305,2021-05-14 09:48:34,2021-05-14 10:17:36,2021-05-14,09:48:34,2021-05-14,10:17:36,0 days 00:29:02,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45038,62FF3FEDAAD7FCB3,HB303,Clinton St & 7 St,40.745420,-74.033320,HB304,7 St & Monroe St,40.746413,-74.037977,2021-05-31 12:46:22,2021-05-31 12:52:29,2021-05-31,12:46:22,2021-05-31,12:52:29,0 days 00:06:07,2021
45039,E742AEA7068E0E4A,HB303,Clinton St & 7 St,40.745420,-74.033320,HB303,Clinton St & 7 St,40.745420,-74.033320,2021-05-31 16:34:19,2021-05-31 16:59:21,2021-05-31,16:34:19,2021-05-31,16:59:21,0 days 00:25:02,2021
45040,E769F9EE96D6433A,JC077,Astor Place,40.719282,-74.071261,JC077,Astor Place,40.719282,-74.071262,2021-05-17 22:52:35,2021-05-17 23:13:37,2021-05-17,22:52:35,2021-05-17,23:13:37,0 days 00:21:02,2021
45041,EC973614DCA179A2,HB303,Clinton St & 7 St,40.745420,-74.033320,HB303,Clinton St & 7 St,40.745420,-74.033320,2021-05-31 20:48:58,2021-05-31 21:16:02,2021-05-31,20:48:58,2021-05-31,21:16:02,0 days 00:27:04,2021
45042,3571180FE5C52CB1,HB303,Clinton St & 7 St,40.745420,-74.033320,HB303,Clinton St & 7 St,40.745420,-74.033320,2021-05-23 14:28:43,2021-05-23 14:30:59,2021-05-23,14:28:43,2021-05-23,14:30:59,0 days 00:02:16,2021

In [27]:
df_2020_ids.columns

Index(['ride_id', 'tripduration(secs)', 'started_at', 'ended_at',
       'start_station_id', 'start_station_name', 'start_lat', 'start_lng',
       'end_station_id', 'end_station_name', 'end_lat', 'end_lng', 'bikeid',
       'usertype', 'start_date', 'start_time', 'end_date', 'end_time', 'year',
       'tripduration'],
      dtype='object')

In [28]:
clean_df_2020_ids = df_2020_ids[["ride_id", "start_station_id", "start_station_name", "start_lat", "start_lng", "end_station_id", "end_station_name", "end_lat", "end_lng", "started_at", "ended_at", "start_date", "start_time", "end_date", "end_time", "tripduration", "year"]]

clean_df_2020_ids

,ride_id,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,started_at,ended_at,start_date,start_time,end_date,end_time,tripduration,year
0,0,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,2020-05-01 00:09:45.586,2020-05-01 00:15:35.293,2020-05-01,00:09:45.586000,2020-05-01,00:15:35.293000,0 days 00:05:49.707000,2020
1,1,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,2020-05-01 01:11:22.528,2020-05-01 01:13:41.246,2020-05-01,01:11:22.528000,2020-05-01,01:13:41.246000,0 days 00:02:18.718000,2020
2,2,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,2020-05-01 05:31:29.535,2020-05-01 05:35:19.240,2020-05-01,05:31:29.535000,2020-05-01,05:35:19.240000,0 days 00:03:49.705000,2020
3,3,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,2020-05-01 05:51:39.396,2020-05-01 05:56:00.937,2020-05-01,05:51:39.396000,2020-05-01,05:56:00.937000,0 days 00:04:21.541000,2020
4,4,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,2020-05-01 06:06:31.951,2020-05-01 06:09:20.141,2020-05-01,06:06:31.951000,2020-05-01,06:09:20.141000,0 days 00:02:48.190000,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,25072,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,2020-05-31 23:35:50.946,2020-05-31 23:42:26.530,2020-05-31,23:35:50.946000,2020-05-31,23:42:26.530000,0 days 00:06:35.584000,2020
25073,25073,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,2020-05-31 23:38:30.824,2020-06-01 00:06:32.036,2020-05-31,23:38:30.824000,2020-06-01,00:06:32.036000,0 days 00:28:01.212000,2020
25074,25074,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,2020-05-31 23:39:07.268,2020-06-01 00:06:44.574,2020-05-31,23:39:07.268000,2020-06-01,00:06:44.574000,0 days 00:27:37.306000,2020
25075,25075,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,2020-05-31 23:45:28.329,2020-05-31 23:52:28.368,2020-05-31,23:45:28.329000,2020-05-31,23:52:28.368000,0 days 00:07:00.039000,2020
25076,25076,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,2020-05-31 23:50:55.839,2020-05-31 23:52:23.092,2020-05-31,23:50:55.839000,2020-05-31,23:52:23.092000,0 days 00:01:27.253000,2020

In [ ]:
combined_df = pd.concat